ANOMALY_WINDOW=
API_HOST=
API_PORT=
CROWD_MIN_COUNT=
CROWD_ZSCORE=
DETECT_CONF=
DWELL_ALERT_SECONDS=
PERSON_CLASS_ID=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_USER=
REDIS_CONSUMER=
REDIS_GROUP=
REDIS_HOST=
REDIS_PORT=
REDIS_STREAM=
STORE_CLOSE_HOUR=
STORE_OPEN_HOUR=
TARGET_FPS=
YOLO_MODEL=